<%- include('partials/header')  %>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 mx-auto">
                <h1>Bienvenid@!!!</h1>
                <h2>Seleccione un módulo</h2>
                <hr>
                <a href="/tareas" class="btn btn-outline-primary">Tareas</a>
                <a href="/usuarios" class="btn btn-outline-success">Usuarios</a>
                <a href="/login" class="btn btn-outline-warning">Login</a>
                <a href="/register" class="btn btn-outline-danger">Registro</a>
            </div>
        </div>
    </div>


   <%- include('partials/footer')  %>