<%- include('../auth/validar_user')  %>

<%- include('../partials/header') %>



    <div class="container">
        
        <div class="row mt-5">
            <h1 class="text-center">Lista de Tareas</h1>
            <div class="col">
                <div class="col-md-3 mb-2">
                    <a href="/tarea/crear" class="btn btn sm btn-primary" id>Crear </a>
                    <a href="/" class="btn btn-info text-light">Inicio</a>
                </div>
                <table class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="listadoTareas">
                        <!-- Aquí se mostrarán las tareas utilizando vanilla JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>


   
    <script src="/js/lista_tareas.js"></script>

    <%- include('../partials/footer') %>